@media (max-width: 1200px){
	.social_icons a{
		padding-left: 20px;
	}
	section.registratsion{
		padding-bottom: 100px;
	}
	h1{
		font-size: 34px;
		line-height: 31px;
	}
	footer a.logo img{
		max-width: 160px;
		min-width: inherit;
		width: 100%;
	}
	.ft2{
		padding-left: 30px;
	}
	.easier_item:not(.odd_e) .container {
	    padding-left: 630px;
	}
	.easier_item.odd_e .container {
	    padding-right: 630px;
	}
	.img_eas{
		width: 200px;
		height: 200px;
	}
	section.easier h2{
		font-size: 38px;
	}
	.item_to_city{
		padding-left: 10px;
	}
	.line_toc{
		margin-left: -10px;
	}
	.ine_ot{
		margin-left: 20px;
	}
	section.inner .terra span{
		/*-ms-align-items: flex-start;*/
		/*align-items: flex-start;*/
	}
}
@media (max-width: 991px){
	.hdr_bottom ul li a{
		margin-right: 15px;
	}
	.ftr_top .col-lg-2{
		order: -3;
	}
	.ft1{
		order: -3;
	}
	.ft3{
		order: -2;
		margin-bottom: 15px;	
	}
	.ftr_top{
		padding-bottom: 40px;
	}
	.last_ft{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.ftr_bottom p{
		line-height: 1.5;
	    max-width: 550px;
		margin: 0 auto;
		/*opacity: .7;*/
	}
	p.adress{
		padding-left: 20px;
	}
	.easier_item:not(.odd_e) .container{
		padding-left: 360px;
	}
	.easier_item.odd_e .container{
		padding-right: 360px;
	}
	.img_eas {
	    width: 160px;
	    height: 160px;
	    transform: translate(0%, -50%);
	}
	.easier_item.odd_e{
		background-position: center right -25%;
	}
	.easier_item{
		height: auto;
		background-position: center left -25%;
		min-height: 250px;
	}
	.easier_item:not(.odd_e) .img_eas{
	    transform: translate(-200px , -50%);
	}
	.img_eas img{
		width: 70px;
	}
	.phone_logo{
		display: none;
	}
	section.personal{
		text-align: center;
	}
	.link_pers, .plays{
		justify-content: center;
	}
	.link_pers a{
		border: 1px solid rgba(255, 255, 255, 1);
	}
	.cabinet_left {
	    margin-right: 15px;
	    max-width: calc(100% - 270px);
	}
	.cabinet_left .vnu_m label{
		margin-right: 7px;
	}
	.price_cop{
		text-align: right;
	}
	.filter_block .col-lg-3.col-sm-6{
		margin-bottom: 15px;
	}
	.ot_do{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.ine_ot{
		margin-left: 0;
	}
	.ot_do>label{
		margin-bottom: 10px;
	}
	.clear_and_chen{
		justify-content: space-between;
	}
	.clear_and_chen a{
		min-width: 40%;
		margin-left: 0;
	}
	.ine_ot{
		flex: 0 0 47%;
	}
	.tab_styles_nav{
		flex-wrap: nowrap;
	}
	.equ_left{
		flex: 0 0 300px;
   		margin-right: 15px;
	}
	.equ_right p{
		padding: 0;
	}
	.equ_left ul.nav li a{
		padding-right: 15px;
	}
	.inner_main{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.inner_left{
		max-width: 550px;
		margin: 0 auto;
	}
	.inner_right{
		margin-left: 0;
		margin-top: 15px;
	}
	.blog_item img{
		height: 130px;
	}
}
@media (max-width: 576px){
	footer{
		padding-top: 70px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.ft3{
		margin-bottom: 0;
		margin-top: 15px;
		order: 0;
	}
	.ft2{
		padding-left: 15px;
		margin-bottom: 55px;
	}
	.ft4{
		margin-top: 15px;
	}
	.ft1{
		margin-bottom: 70px;
	}
	.ftr_bottom p{
		font-size: 15px;
	}
	.ftr_top{
		padding-bottom: 70px;
	}
	.hdr_bottom .btn_red, .hdr_top a.enter_to_site{
		display: none;
	}
	.hdr_top>div:nth-child(1){
		width: 100%;
		justify-content: space-between;
	}
	.hdr_bottom ul{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	a.logo img{
		max-width: 93px;
	}
	footer a.logo img{
		min-width: 160px;
	}

	header{
		padding-top: 10px;
		padding-bottom: 10px;
		height: 50px;
	}
	.notif{
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.hdr_bottom ul{
		padding-bottom: 5px;
	}
	.hdr_bottom ul li a{
		padding-top: 10px;
		padding-bottom: 0px;
		opacity: 0.6;
		border-bottom: 0 !important;
	}
	.hdr_bottom ul li.active a{
		opacity: 1;
	}
	.btm_form{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	h1 {
	    font-size: 26px;
	    line-height: 1;
	    text-align: center;
	}
	p.adress{
		padding-left: 20px;
	}
	#map{
		height: 200px;
		width: 100%;
		position: static;
	}
	form.contact_form.input_styles{
		padding-bottom: 60px;
	}
	section.contact h4{
		font-size: 18px;
	}
	footer p.adress{
		padding-left: 30px;
		margin-bottom: 30px;
	}
	footer .social_icons a{
		padding-left: 30px;
	}
	.ftr_bottom{
		margin-left: -25px;
		margin-right: -25px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.last_ft{
		text-align: left;
		padding-left: 25px;
		padding-right: 25px;
	}
	.last_ft>div{
		width: 100%;
	}
	section.main_take h1{
		line-height: 42px;
		color: #ffffff;
		font-size: 33px;
		text-align: left;
		margin-bottom: 5px;
		padding-top: 15px;
	}
	section.main_take h1+p{
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 13px;
	}
	.del_items{
		height: 132px;
	}
	.del_items p{
		font-size: 22px;
		margin-bottom: 0;
		font-weight: 600;
	}
	section.main_take{
		padding-bottom: 10px;
	}
	section.steps_red{
		padding-bottom: 0px;
		padding-top: 10px;
	}
	.steps_item{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.steps_item h4{
		max-width: 100%;
	}
	section.easier{
		padding-top: 30px;
	}
	section.easier h2{
		color: #222136;
		font-size: 28px;
		font-weight: 600;
	}
	section.easier h2.text-center{
		margin-bottom: 25px;
		padding: 0 15px;
	}
	.easier_item:not(.odd_e) .container{
		padding-left: 35%;
    	padding-right: 35px;
	}
	.easier_item{
		min-height: 487px;
		background-size: auto 100%;
		background-position: right 300px center;
		margin-bottom: 0;
	}
	.easier_item.odd_e {
		background-position: left 300px center;
	}
	.img_eas{
		width: 100px;
		height: 100px;
	    transform: translate(0);
	    right: 75px;
	    left: auto;
	    top: 50px;
	}
	.easier_item:not(.odd_e) .img_eas{
		transform: translate(0);
	    left: 75px;
	    top: 50px;
	}
	.easier_item .container{
		padding-top: 120px;
	}
	.easier_item.odd_e .container{
		padding-right: 35%;
		padding-left: 35px;
	}
	section.personal{
		height: 800px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		padding-top: 0;
		padding-left: 25px;
		padding-right: 25px;
	}
	section.personal h2{
		font-size: 28px;
		font-weight: 600;
		line-height: 32px;
		text-align: left;
		margin-bottom: 12px;
	}
	section.personal p{
		text-align: left;
		font-size: 12px;
		font-weight: 400;
		max-width: 50%;
		line-height: 1.2;
	}
	.plays{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start !important;
		align-items: flex-start !important;
	}
	.link_pers{
		-ms-align-items: flex-start !important;
		align-items: flex-start !important;
		justify-content: flex-start !important;
	}
	.plays a{
		margin-bottom: 10px;
	}
	.users_btm{
	    border-bottom: 2px solid #f0eff5;
	    padding-top: 15px;
	    padding-bottom: 0;
	}
	.user_h .dropdown-menu a{
		padding-bottom: 10px;
	}
	.user_h button.dropdown-toggle{
		pointer-events: none;
	}
	header.fixed_header .user_h button.dropdown-toggle{
		color: #222136;
	}
	header+section{
		padding-top: 56px;
	}
	section.order h1{
		text-align: left;
		line-height: 43px;
		font-size: 33px;
		font-weight: 600;
	}
	.d_mob_none{
		display: none !important;
	}
	section.order #map{
		min-height: 399px;
	}
	.br_order .btn_red{
		min-width: auto;
		width: 100%;
	}
	.form-group_checkbox label{
		/*opacity: 0.45;*/
		color: rgba(34, 33, 54, .45);
		font-size: 16px;
		font-weight: 400;
	}
	.download_photos{
		margin-right: 10px;
	}
	.hodu{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start !important;
		align-items: flex-start !important;
	}
	.form-group_checkbox.mt10.mb15.vnu_m {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.barat{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.paino>div{
		flex: 0 0 100%;
	}
	.paino>div:nth-child(2n+1){
		padding-right: 0;
		border-right: 0;
	}
	.paino>div:nth-child(2n){
		padding-left: 0;
	}
	.d_inp label {
	    min-width: auto;
	    margin-right: 10px;
	}
	div#popup_registr{
		padding-left: 15px;
		padding-right: 15px;
	}
	.popup_styles h2{
		font-size: 30px;
	}
	div#popup_registr hr{
		margin-left: -15px;
		margin-right: -15px;
	}
	.flex_cabinet{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.cabinet_left{
		margin-right: 0;
		max-width: 100%;
		padding-top: 15px;
	}
	.cabinet_left .forget_pass{
		display: inline-block;
		margin-bottom: 15px;
	}
	.cabinet_left .form-group_checkbox.mt10.mb15.vnu_m{
		width: 50%;
	}
	section.cabinet h1{
		text-align: left;
		font-size: 33px;
		margin-bottom: 13px;
		font-weight: 600;
	}
	.user_dorian>img{
		max-width: 255px;
		min-height: 255px;
		margin: 0 auto;
		display: block;
	}
	.user_all p{
		text-align: center;
	}
	.rating{
		justify-content: center;
	}
	.rating span{
		padding-top: 5px;
	}
	.banner_bl{
		display: none;
	}
	section.cabinet .tab_styles_nav{
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: auto;
	}
	section.cabinet .tab_styles_nav li{
		white-space: nowrap;
	}
	.item_to_city_top{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.item_to_city{
		padding-left: 15px;
	}
	.line_toc{
		margin-left: -15px;
	}
	.price_cop{
		text-align: left;
		margin-top: 10px;
	}
	.item_to_city_bottom .col-4{
		padding-right: 0px;
	}
	.mangis>div{	
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
	}
	.mangis>div span{
		display: block;
		width: 100%;
		padding-left: 18px;
	}	
	.mangis>div img{
		position: absolute;
	}
	.mangis>div>img:first-child{
		top: 3px;
	}
	.mangis>div img.nt-3{
		top: 42px;
	}
	img.nt-3+span{
		margin-top: 17px;
	}
	img.nt-2{
		top: 25px;
		transform: rotate(90deg);
		left: 2px;
	}
	.flex_cabinet{
		padding-bottom: 60px;
	}
	.flex_cabinet .tab_styles_nav li a{
		margin-right: 25px;
	}
	section.cabinet .lert{
		justify-content: space-between;
	}
	section.cabinet .download_photos{
		margin-right: 0;
	}
	header ul.nav{
		padding-top: 14px;
		padding-bottom: 28px;
		height: auto;
		width: 100%;
		position: relative;
	}
	header ul.nav:after{
		/*display: none;*/
		bottom: 0;
		top: auto;
		left: -15px;
		right: -15px;
	}
	.language_h{
		position: absolute;
		right: 0;
		z-index: 4;
		top: 21px;
	}
	.dropdown.user_h{
		padding-right: 75px;
	}
	.dropdown.user_h .dropdown-menu {
	    display: block;
	    box-shadow: none;
	    padding: 0 15px;
	    padding-top: 8px;
	    margin-left: -15px;
	    margin-right: -90px;
	    margin-top: 15px;
	    position: static;
	    width: auto;
	    transform: translate(0);
	    float: none;
	    border-top: 2px solid #f0eff5;
	}
	.user_h button.dropdown-toggle img{
		width: 40px;
		height: 40px;
		object-fit: cover;
	}
	.hdr_svgs .enter_to_site{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		padding: 10px 20px;
	}
	.hdr_svgs{
		padding-bottom: 20px;
	}
	.hdr_svgs .col-md-3{
		margin-bottom: 10px;
	}
	.hdr_svgs .enter_to_site svg{
		max-width: 54px;
		margin-right: 8px;
	}
	.hdr_svgs .enter_to_site span{
		white-space: nowrap;
	}
	.clear_and_chen {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.clear_and_chen a{
		min-width: 100%;
		margin-bottom: 15px;
	}
	.cabinet_right{
		flex: 0 0 auto;
	}
	.hdr_bottom{
		max-height: calc(100vh - 50px);
		height: 100vh;
		overflow-y: auto;
	}
	.flex_equation{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	section.equation h1{
		text-align: left;
		margin-bottom: 13px;
	}
	.equ_left{
		margin-right: 0;
		flex: 0 0 100%;
		margin-bottom: 15px;
		border-bottom: 0;
	}
	.equ_right{
		padding: 15px 20px;
	}
	.equ_right h4{
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 23px;
	}
	.equ_right p{
		padding-left: 20px;
	}
	.privacy h1{
		text-align: left;
	}
	.privacy p{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.privacy h2{
		font-size: 20px;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.users_btm .enter_to_site{
		margin-bottom: 15px;
	}
	.bc_red_inn .col-lg-4{
		margin-bottom: 15px;
	}
	.suggestion{
		padding: 10px;
	}
	.busy_easy{
		padding: 10px;
	}
	.terra{
		padding: 10px;
	}
	.photos_inn{
		padding: 10px;
	}
	.inner_map{
		padding: 10px;
	}
	.pay_inner{
		padding: 10px;
	}
	.pay_inner{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.pay_inner a{
		margin-top: 10px;
	}
	.wet{
		padding: 10px;
	}
	.user_inner{
		padding: 10px;
	}
	section.inner .tel_conf,section.inner .lang_conf{
		padding: 0 10px;
	}
	p.povis, section.inner .lang_conf{
		padding: 10px;
	}
	.bc_red_inn{
		padding: 10px;
	}
	section.inner .terra span{
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 5px;
	}
	section.inner img.nt-3+span{
		margin-top: 0;
	}
	.inner_map #map{
		margin-bottom: 10px;
	}
	.zayavka .enter_to_site{
		margin-top: 10px;
	}
	.inner_left{
		flex: 0 0 auto;
	}
	.notif_dropdown .dropdown-menu{
		left: auto !important;
		/*margin-top: 5px;*/
	}
	.notif_dropdown .dropdown-menu p{
		font-size: 13px;
	}
	.terra.fourt img{
		width: auto;
	}
	.dor_item{
		padding: 0 15px;
	}
	.dor_item .lman h4{
		padding-right: 15px;
	}
	.dor_item .lman a{
		white-space: nowrap;
	}
	.photos_inn .d-flex{
		justify-content: space-between;
	}
	.photos_inn .netr {
		width: 49%;
		/*height: 45%;*/
		margin-right: 0;
	}
	.blog_item img {
	    height: 180px;
	}
	section.cabinet.news h1{
		font-size: 26px;
	}
	div#pay_popup_a{
		max-width: 100%;
		padding: 15px;
	}
	.pay_div label img{
		max-width: 90%;
	}
	div#pay_popup_a button.btn_red{
		min-width: 160px;
	}
	.in_karm p b{
		padding-left: 0;
	}
	div#pay_popup_a hr{
		margin-left: -15px;
		margin-right: -15px;
	}
	.in_karm{
		white-space: nowrap;
	}
}

@media (max-width: 375px){
	.easier_item:not(.odd_e) .container{
		padding-left: 25%;
	}
	.easier_item:not(.odd_e) .img_eas{
		left: 20px;
	}
	.img_eas{
		right: 20px;
	}
	.hdr_svgs{
		padding-bottom: 0;
	}
}
@media (max-width: 350px){
	.btn_red{
		padding: 0 10px;
	}
	.mangis>div span{
		white-space: nowrap;
		overflow: hidden;
	}
	section.cabinet .download_photos {
	    width: 90px;
	    height: 90px;
	}
	header ul.nav{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.users_btm .enter_to_site{
		margin-bottom: 10px;
	}
	.users_btm{
		padding-top: 10px;
	}
	.hdr_svgs .enter_to_site{
		padding: 7px 20px;
	}
	.hdr_bottom ul li a{
		padding-top: 5px;
	}
	.in_karm p{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}
















