.my_input:focus{
    box-shadow: unset;
}
.my_input{
    font-size:16px;
    text-align: left !important;
}
.field-loginform-rememberme::after{
    background:none !important;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.my_modal_submit{
    bottom: 80px;
    text-align: center;
    display: block;
    min-width: 255px;
    right: -255px;
}
.my_modal_submit2 {
    bottom: 65px;
    text-align: center;
    display: block;
    min-width: 255px;
}
.my_modal_button{
    min-width: 255px;
    text-align: center;
    right: 4px;
}
.backto{
    position: absolute;
    bottom: 13px;
    right: 270px;
}

.modal-footer>:not(:last-child) {
     margin-right: 0rem !important; 
}
.help-block-error{
    color: red !important;
}
.help-block{
    color: red !important;
}
#loginform-rememberme{
    width: 95% !important;
    height: 86%;
}
.center{
    text-align: center;
}
.modal-header{
    padding:20px;
}
.modal-content{
    padding: 10px;
}
.modal-title{
    line-height: 0.7 !important;
    position: absolute !important;
    font-size: 36px !important;
    font-weight: 600 !important;
}
.form-group_checkbox label {
     position: relative; 
    padding-left: 23px;
    margin-bottom: 0;
    cursor: pointer;
    /* color: rgba(34, 33, 54, 0.45); */
}
.form_registration label {
    line-height: 18px;
    opacity: 0.6;
    color: #222136;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.download_photos label{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #f0eff5;
    background-color: #ffffff;
    position: absolute;
    left: 10px;
    top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 0;
    outline: none;
    z-index: 3;
}
.download_photos.added .remove_photo{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #f0eff5;
    background-color: #ffffff;
    position: absolute;
    left: 10px;
    top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 0;
    outline: none;
    z-index: 3;
}
p.adress a:hover{
    color: red !important;
}

/*rasmli select uchun kod*/
.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 20px;
  
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
}

#a li span, .btn-select li span{
  margin-left: 15px;
}

/* item list */

.b{
  display: none;
  width: 100%;
  /*max-width: 350px;*/
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  
}

.open{
  display: show !important;
}

.btn-select{
  /*margin-top: 10px;*/
  width: 100%;
  /*max-width: 350px;*/
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
 
}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
  margin-left: 15px;
}

.btn-select:hover li{
  margin-left: 15px;
}

.btn-select:hover{
  background-color: #F4F3F3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
  
  
}

.btn-select:focus{
   outline:none;
}

.lang-select{
  margin-left: 1px;
}

/**/

.hidden .form-group:after {
    content: "";
    position: absolute;
    background: none !important;
    z-index: 2;
    }


/*login register*/

.modal-content {
    width: 85% !important;
    margin:auto;
}
.btn_red.sobs1 {
    min-width: 50% !important;
}
.lert{
  justify-content: center !important;
}
.option{
  display: none;
}