input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
 
input[type="number"] {
    -moz-appearance: textfield;
    outline: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
} 
a{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
/*a:hover{
	color: #222136;
}*/
body {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #222136;
    position: relative;
}
header{
	padding: 20px 0;
	box-shadow: 0 3px 6px rgba(34, 33, 54, 0.1);
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 6;
}
body header.fixed{
	position: fixed;

}
/*header.fixed_header.fixed{
	background-color: #fff;
}*/
header+section{
	padding-top: 76px;
}
header.fixed_header:not(.fixed) .hamburger span{
	background-color: #fff;
}

header.fixed_header:not(.fixed){
	position: absolute;	
	background: transparent;
	left: 0;
	right: 0;
	z-index: 4;
	transition: all .3s;
}
header.fixed_header:not(.fixed) a.notification img:nth-child(1) {
	display: none;
}
header.fixed_header:not(.fixed) a.notification img:nth-child(2) {
	display: inline-block;
}
header.fixed_header:not(.fixed) .language_h button{
	color: #fff;
}
header.fixed_header:not(.fixed) .hdr_bottom{
	background-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
header.fixed_header:not(.fixed) .hdr_bottom ul li a{
	color: #fff;
}
.hamburger{
	padding-top: 3px;
	cursor: pointer;
	margin-left: 25px;
}
.hamburger span{
	width: 12px;
	height: 2px;
	background-color: #222136;
	display: block;
	margin-bottom: 3px;
	transition: all .15s;
}
.hamburger svg.svg-inline--fa.fa-times.fa-w-11, .hamburger.active svg.svg-inline--fa.fa-bars.fa-w-14{
	display: none;
	width: 14px;
}
.hamburger.active svg.svg-inline--fa.fa-times.fa-w-11{
	display: block;
	width: 14px;
}
header.fixed_header .hamburger svg{
	fill: #fff !important;
	color: #fff;
}
header.fixed_header.fixed .hamburger svg{
	fill: #222136 !important;
	color: #222136;
}
.hamburger.active span:nth-child(1){
	transform: translateY(5px) rotate(45deg);
}
.hamburger.active span:nth-child(2){
	opacity: 0;
}
.hamburger.active span:nth-child(3){
	transform: translateY(-5px) rotate(-45deg);
}
.dropdown-toggle::after{
    border-top: 5px solid #ff0a0a;
    transition: all .15s;
}
.language_h.show .dropdown-toggle::after{
	transform: rotate(180deg);
}

.language_h{
	margin-right: 25px;
}
.language_h button{
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	/*width: 19px;*/
	line-height: 21px;
	font-weight: 600;
}
.language_h a{
	line-height: 21px;
	font-weight: 400;
	transition: all .3s;
	text-decoration: underline;
	display: inline-block;
	color: #222136;
	margin-bottom: 8px;
}
.language_h a.active{
	text-decoration: none;
	color: #ff0a0a;
}
.language_h a:hover{
	text-decoration: none;
	color: #ff0a0a;
}
.language_h .dropdown-menu{
	max-width: 58px;
	min-width: auto;
	left: -50% !important;
}
.dropdown-menu{
	box-shadow: 0 3px 6px rgba(34, 33, 54, 0.1);
	background-color: #ffffff;
	border-radius: 0;
	border: 0;
	padding: 8px 20px;
}
.user_h button.dropdown-toggle{
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	line-height: 21px;
	color: #222136;
	font-size: 16px;
	font-weight: 600;
	transition: all .3s;

}
.user_h .dropdown-toggle::after{
	display: none;
}
.user_h button.dropdown-toggle img{
	margin-right: 8px;

}
.user_h .dropdown-menu a{
	display: block;
	white-space: nowrap;
	line-height: 21px;
	color: #222136;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 8px;
	transition: all .3s;
	text-decoration: none;
}
.user_h .dropdown-menu a:hover{
	color: #ff0a0a;
}
.settings_li{
	padding-top: 8px;
	border-top: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
	margin-bottom: 8px;
}

.user_h .dropdown-menu a svg{
	transition: all .3s;
	margin-right: 8px;
	margin-bottom: 2px;
}
.user_h .dropdown-menu a:hover svg{
	color: #ff0a0a !important;
	fill: #ff0a0a !important;
}

header.fixed_header .user_h button.dropdown-toggle{
	color: #fff;
}
header.fixed_header.fixed .user_h button.dropdown-toggle{
	color: #222136;
}
 
.enter_to_site{
	position: relative;
	width: 192px;
	line-height: 34px;
	background-color: #f0eff5;
	text-align: center;
	color: #222136;
	font-weight: 600;
	display: block;
	overflow: hidden;
	transition: all .3s;
}
header.fixed_header:not(.fixed) a.enter_to_site{
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
}
header.fixed_header:not(.fixed) .aft_back{
	    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
a.enter_to_site:hover{
	text-decoration: none;
	background-color: #ff0a0a;
	color: #fff;
}

.aft_back{
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -9px;
    top: -9px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
}
.aft_back:after{
	content: "";
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
    background-color: #ff0a0a;
	bottom: 1px;
}

.hdr_bottom{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #fff;
	z-index: 1;
	border-top: 2px solid #f0eff5;
	/*border-bottom: 2px solid #f0eff5;*/
	box-shadow: 0 3px 6px rgba(34, 33, 54, 0.1);
}

.hdr_bottom ul{
	margin-bottom: -2px;
}
.hdr_bottom ul li a{
	padding-top: 20px;
	padding-bottom: 22px;
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
    color: #222136;
    margin-right: 30px;
    padding-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
    border-bottom: 2px solid transparent;
}
.hdr_bottom ul li a:hover{
	color: #ff0a0a;
}
.hdr_bottom ul li.active a:hover{
    color: #222136;
}
.hdr_bottom ul li.active a{
    border-bottom: 2px solid #222136;
}
ul.nav.inner_nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
ul.nav.inner_nav li {
	flex: 0 0 50%;
	text-align: center;
}
ul.nav.inner_nav li a{
	width: 100%;
	background-color: #f0eff5;
	transition: all .3s;
	line-height: 18px;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
	display: block;
	text-decoration: none;
}
ul.nav.inner_nav li a.active{
	color: #ffffff;
	background-color: #ff0a0a;
}
.hdr_svgs{
	padding-bottom: 15px;
}
.hdr_svgs svg{
	fill: #222136;
	color: #222136;
	transition: all .3s;
}
.create_equ{
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
}
header ul.nav{
	height: 55px;
}
header ul.nav:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #f0eff5;
    top: 53px; 
    z-index: -1;
}
.hdr_svgs .enter_to_site{
	width: 100%;
	height: 100%;
	padding: 10px 20px 7px;
}
.hdr_svgs .enter_to_site:hover svg{
	fill: #fff;
	color: #fff;
}
.hdr_svgs .enter_to_site:hover span{
	color: #fff;
}

.hdr_svgs .enter_to_site span{
	display: block;
	line-height: 22px;
	color: #222136;
	font-size: 16px;
	font-weight: 600;
	transition: all .3s;
}





footer{
	clear: both;
	background-color: #222136;
	padding-top: 80px;
}
footer a.logo{
	display: inline-block;
}
footer a.logo img{
		max-width: 160px;
		min-width: 160px;
		width: 100%;
	}

.ft2{
	padding-left: 50px;
}

footer ul li{
	margin-bottom: 15px;
}
footer ul li a{
	line-height: 23px;
	color: #ffffff;
	font-size: 18px;
	transition: all .3s;
	font-weight: 600;
	text-decoration: none !important;
}
footer ul li a:hover{
	/*color: #ffffff;*/
	color: #ff0a0a;
	/*opacity: .6;*/
}
footer h4{
	line-height: 27px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 15px;
	letter-spacing: 2.06px;
}
p.adress{
	opacity: 0.85;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 30px;
	position: relative;
	text-decoration: underline;
}
p.adress img{
	position: absolute;
	left: 0;
	top: 3px;
}
.social_icons a{
	opacity: 0.85;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	padding-left: 30px;
	position: relative;
	display: block;
	line-height: 22px;
	text-decoration: none !important;
	transition: all .3s;
	margin-bottom: 10px;
}
.social_icons a svg{
	position: absolute;
	left: 0;
	top: 4px;
	transition: all .2s;
	object-fit: contain;
	width: 15px;
	height: 15px;
	transition: all .3s;
	object-position: center;
	fill: #fff;
}
.social_icons a:hover svg{
	color: #ff0a0a;
	fill: #ff0a0a;
}

.social_icons a span{
	border-bottom: 1px solid;
	display: inline-block;
	line-height: 1;
}
.social_icons a:hover{
	color: #ff0a0a;
	/*opacity: 1;*/
}

.ftr_bottom{
	background-color: #26253a;
	/*opacity: 0.02;*/
}
.ftr_bottom p{
	margin-bottom: 0;
	font-size: 15px;
	line-height: 60px;
	font-family: "Segoe UI";
	opacity: 0.35;
	color: #ffffff;
}
.ftr_bottom a{
	transition: all .3s;
	font-weight: 400;
	color: #ff0a0a;
	text-decoration: underline;
}
.ftr_bottom a:hover{
	text-decoration: none;
}
.ftr_top{
	padding-bottom: 69px;
}

/***********************************************************************************/
section.registratsion{
	padding-bottom: 450px;
}
.breadcrumb_nav .breadcrumb{
	background-color: transparent;
	margin-bottom: 0;
	padding: 15px 0;
}
.breadcrumb_nav a{
	line-height: 18px;
	color: #a7a6af;
	font-size: 14px;
	text-decoration: none;
}
.breadcrumb_nav li{
	font-size: 14px;
	line-height: 18px;
	color: #a7a6af !important;
}
.breadcrumb_nav a:hover{
	color: #000;
}
.form_registration{
	max-width: 350px;
	margin: 0 auto;
	display: block;
}
.input_styles .form-group{
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
}
.input_styles .form-group:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../images/after_img.jpg) no-repeat right top;
	z-index: 2;
}

.input_styles .form-group span{
	display: none;
}

.input_styles input{
	width: 100%;
	height: 34px;
	border: 1px solid #f0eff5;
	background-color: #fff;
	outline: none;
	padding: 0 20px;
}
.input_styles input::placeholder{
	opacity: 0.4;
	color: #222136;
}
.input_styles select{
	width: 100%;
	height: 34px;
	border: 1px solid #f0eff5;
	padding: 0 20px;
	background-color: #ffffff;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.select_bl{
	width: 100%;
	/*height: 34px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	border: 1px solid #f0eff5;
	padding: 0 10px;
	background-color: #ffffff;
}
.input_styles .select_bl select{
	width: auto;
	border: 0;
	outline: none;
	/*height: auto;*/
	padding: 0 10px;
	background: transparent url(../images/select_arr.svg) no-repeat right center;
}


h1{
	line-height: 51px;
	color: #222136;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}
.tab_styles_nav{
 	margin-bottom: 15px;
 	position: relative;
}
.tab_styles_nav:after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 2px;
 	background-color: #f0eff5;
 	z-index: -1;
}

.tab_styles_nav li a{
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	transition: all .3s;
	color: #222136;
	margin-right: 30px;
	padding-bottom: 15px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
.tab_styles_nav li a.active {
	border-bottom: 2px solid #222136;
}
.btn_red{
	line-height: 34px;
	display: inline-block;
	padding: 0 23px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	background: #ff0a0a;
	transition: all .3s;
	cursor: pointer;
	outline: none !important;
	border: 0;
	position: relative;
	overflow: hidden;
}
.btn_red:after{
	content: "";
	position: absolute;
	right: -10px;
	top: -10px;
	width: 18px;
	height: 18px;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);

}
.notif_dropdown .dropdown-toggle::after{
	display: none;
}
.notif_dropdown .dropdown-menu{
	min-width: 349px;
	left: -135px !important;
	margin-top: 15px;
	padding: 0 20px 10px;
	max-height: 270px;
	overflow-y: auto;
}
.notif_dropdown .dropdown-menu::-webkit-scrollbar-track{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
}

.notif_dropdown .dropdown-menu::-webkit-scrollbar{
	width: 4px;
	height: 150px;
	background-color: #f0eff5;
}

.notif_dropdown .dropdown-menu::-webkit-scrollbar-thumb{
	background-color: #222136;	
}

.notif_dropdown .dropdown-menu a {
	display: inline-block;
	color: #222136;
	transition: all .3s;
	text-decoration: none;
}
.notif_dropdown .dropdown-menu a:hover h5, .notif_dropdown .dropdown-menu a:hover p {
	color: #ff0a0a;
}

.notif_dropdown .dropdown-menu h5 {
	line-height: 21px;
	font-size: 16px;
	margin-bottom: 2px;
	transition: all .3s;
	font-weight: 600;
	padding-top: 8px;
}
.notif_dropdown .dropdown-menu p{
	line-height: 20.5px;
	transition: all .3s;
	opacity: 0.85;
	color: #222136;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: 400;
	margin-bottom: 0;
	border-bottom: 1px solid #f0eff5;
}

a.notification {
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 20px;
}
a.notification img:nth-child(2) {
	display: none;
}
a.notification img {
    width: 15px;
}
.red_notifi{
	position: relative;
}
.red_notifi:after{
	content: "";
	/* Style for "Ellipse 22" */
	width: 5px;
	height: 5px;
	border: 1px solid #ffffff;
	background-color: #ff0a0a;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 8px;
}

a.btn_red:hover, button.btn_red:hover{
	background: #ab0101;
	color: #fff;
	text-decoration: none;
}
.form_registration .btn_red{
	float: right;
}

.form_registration label{
	line-height: 18px;
	opacity: 0.6;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 8px;
}
.reload img, .backto img{
	transition: all .3s;
}
.reload:hover img{
	transform: rotate(360deg);
}
.reload, .backto{
	position: relative;
	min-width: 34px;
	width: 34px;
	height: 34px;
	background-color: #f0eff5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	overflow: hidden;
	transition: all .3s;
}
.backto{
	float: right;
	margin-right: 10px;
	margin-left: 0;
}

.reload:hover, .backto:hover{
	text-decoration: none;
	background-color: #ff0a0a;
	color: #fff;
}
.reload:hover img, .backto:hover img{
	filter: invert(1);
}

/***********************************************************************************/
section.contact{
	position: relative;
	overflow-x: hidden;
}
section.contact h4{
    line-height: 27px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 2.06px;
}
section.contact p.adress{
	color: #434254;
	opacity: 1;
}
section.contact p.adress img{
	filter: invert(1);
}
section.contact .social_icons{
	margin-bottom: 15px;
}
section.contact .social_icons a{
	color: #222136;
}
section.contact .social_icons a svg{
	fill: #222136;
	transition: all .3s;
}
section.contact .social_icons a:hover{
	color: #ff0a0a;
}

section.contact .social_icons a:hover svg{
	fill: #ff0a0a;
	color: #ff0a0a;
}

section.contact .social_icons:not(.phones) a img{
	filter: invert(1);
}
.input_styles textarea {
    width: 100%;
    height: 147px;
    border: 1px solid #f0eff5;
    background-color: #fff;
    outline: none;
    padding: 5px 20px;
    margin-bottom: 5px;
    resize: none;
}
.input_styles textarea::placeholder{
	opacity: 0.4;
	color: #222136;
}
form.contact_form.input_styles{
	padding-bottom: 90px;
}

form.contact_form.input_styles button{
	float: right;
}

#map{
	background-color: #eee;
	width: 100%;
	/*height: 100%;*/
	margin-bottom: 15px;
	position: absolute;
	min-width: calc(50vw - 15px);
	min-height: calc(100% - 15px);
}
/***********************************************************************************/
section.main_take{
	background-position: center;
	background-size: cover;
	padding-bottom: 50px;

}
section.main_take h1{
	color: #fff;
	line-height: 64px;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 0;
}
section.main_take h1+p{
	line-height: 23px;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 30px;
}
.del_items{
	height: 250px;
	background-color: rgba(255, 255, 255, 0.08);
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-decoration: none !important;
}
.del_items:hover{
	transform: scale(1.05);
}

.del_img{
	margin-bottom: 5px;
}
.del_items p{
	line-height: 40px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

/***********************************************************************************/

section.steps_red{
	background-color: #ff0a0a;
	padding-top: 48px;
	padding-bottom: 43px;
}
.steps_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.steps_item h5{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 5px;
}
.steps_item h4{
	color: #ffffff;
	font-size: 15px;
	max-width: 80%;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 10px;
}
.steps_item p{
	opacity: 0.95;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 10px;
}
.steps_item .text{

}
.steps_item .img{
	margin-right: 10px;
	flex: 0 0 60px;
}

.steps_item .img img{
	max-width: 100%;
}
/***********************************************************************************/
section.easier{
	padding-top: 80px;
	padding-bottom: 20px;
}
section.easier h2{
	color: #222136;
	font-size: 40px;
	font-weight: 600;
}
section.easier h2.text-center{
	margin-bottom: 50px;
}

.easier_item{
	height: 487px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-position: left 50%;
	-ms-align-items: center;
	align-items: center;
	background-size: 50% auto;
	justify-content: flex-end;
	background-repeat: no-repeat;
	margin-bottom: 80px;
	position: relative;
}

.easier_item.odd_e{
	background-position: right 50%;
}
.easier_item:not(.odd_e) .container{
	padding-left: 770px;
}
.easier_item.odd_e .container{
	padding-right: 770px;
}

.img_eas{
	width: 255px;
	height: 255px;
	background-color: rgba(255, 10, 10, 0.9);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.img_eas:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/ew.jpg) no-repeat;
	z-index: 2;
	width: 35px;
	height: 35px;
}
.easier_item.odd_e .img_eas:after{
	left: 0;
	transform: rotate(-90deg);
	right: auto;
}
.img_eas img{
	width: 100px;
}
.img_eas h2{
	margin-bottom: 20px;
}
.easier_item:not(.odd_e) h2{
	/*padding-left: 110px;*/
}
.easier_item:not(.odd_e) p{
	/*padding-left: 110px;*/
}
.img_eas p{
	opacity: 0.85;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 0;
}
/***********************************************************************************/
section.personal{
	padding-top: 70px;
	padding-bottom: 70px;
	background-position: center;
	background-size: cover;	
}
section.personal h2{
	color: #ffffff;
	font-size: 50px;
	font-weight: 600;
	line-height: 63px;
	margin-bottom: 20px;
}
section.personal p{
	line-height: 23px;
	opacity: 0.95;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 30px;
}
.plays{
	margin-bottom: 20px;
}
.plays a{
	display: inline-block;
	margin-right: 15px;
}
.link_pers{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.link_pers a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	transition: all .3s;
	width: 33px;
	height: 33px;
	border: 1px solid rgba(255, 255, 255, .5);
	margin-right: 8px;
}
.link_pers a:hover{
	border: 1px solid rgba(255, 255, 255, 1)
}
.phone_logo {
	height: 100%;
}
.phone_logo .bc_phone{
	object-fit: contain;
	object-position: center;
	opacity: .3;
	box-shadow: 0 0 5px rgba(1,1,1,.1);
	position: static;
	display: block;
	margin: 0 auto;
	max-height: 660px;
	transform: translate(0);
}

.phone_logo img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/***********************************************************************************/
section.order h1{
	margin-bottom: 14px;
}
.order_wrapper{
	max-width: 730px;
	margin: 0 auto;
	padding-bottom: 60px;
}
section.order .input_styles textarea{
	margin-bottom: 15px;
}
section.order .input_styles .btn_red{
	margin-right: 0;
	display: block;
	margin-left: auto;
	min-width: 255px;
}

.br_order{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
}
section.order form{
	padding-top: 15px;
}
section.order hr{
	height: 2px;
	background-color: #f0eff5;
	margin: 0;
	box-shadow: none;
	border: 0;
}
section.order #map{
	position: static;
	min-width: inherit;
	min-height: 483px;
}
.br_order p{
	margin-bottom: 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}
.br_order .btn_red{
	padding-top: 10px;
	padding-bottom: 7px;
	min-width: 350px;
}
.form-group_checkbox{
	position: relative;
}
.form-group_checkbox input{
	display: none;
}
.form-group_checkbox label{
	position: relative;
	padding-left: 23px;
	margin-bottom: 0;
	cursor: pointer;
    color: rgba(34, 33, 54, 0.45);
}
.form-group_checkbox label:before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	width: 15px;
	height: 15px;
	border: 1px solid #f0eff5;
	background: #ffffff url(../images/check.svg) no-repeat center;
	background-size: 0;
	transition: all .3s;
}
.form-group_checkbox input:checked+label:before{
	background-size: contain;
}
section.order .form-group{
	margin-bottom: 10px;
	margin-top: 10px;
}
section.order .form-group+hr{
	margin-top: 15px;
	margin-bottom: 15px;
}
.tire{
	padding-bottom: 5px;
}
section.order .tire h4{
	font-weight: 400;
	margin-bottom: 9px;
}
section.order .tire h4 span{
	font-weight: 600;
}

section.order h4{
	line-height: 21px;
	color: #222136;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}
p.opac{
	opacity: 0.4;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 3px;
	line-height: 18px;
}
section.order .form-group span.large_young{
	display: inline;
	line-height: 21px;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
	background: url(../images/people.svg) no-repeat left center;
	padding-right: 30px;
}
section.order .form-group span.small_young{
	display: inline;
	line-height: 21px;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
	background: url(../images/baby.svg) no-repeat left center;
}
.spans{
    width: 100%;
    height: 34px;
    border: 1px solid #f0eff5;
    background-color: #fff;
    padding: 0 20px;
    line-height: 34px;
}
body section.order .mb15{
	margin-bottom: 15px;
}
body section.order .mt10{
	margin-top: 10px;
}
body section.order .mt15{
	margin-top: 15px;
}
body section.order .mt5{
	margin-top: 5px;
}
.tit_textarea{
	padding-top: 15px;
	padding-bottom: 9px;
}

input.otp_punkt{
	background: url(../images/otp.svg) no-repeat center left 22px;
	padding-left: 42px;
}
input.otp_punkt2{
	background: url(../images/otp2.svg) no-repeat center left 22px;
	padding-left: 42px;
}
.air input{
	background: url(../images/air.svg) no-repeat center left 22px;
	padding-left: 45px;
}

.date_inp{
	background: url(../images/datepicker.svg) no-repeat center left 22px;
	padding-left: 45px !important;
}
.date_inp_time{
	background: url(../images/time.svg) no-repeat center left 22px;
	padding-left: 45px !important;
}

.fre_sp{
	margin-bottom: 45px;
}
.other_date_inp{
	padding-right: 45px;
	background: url(../images/datepicker.svg) no-repeat center right 20px;
}
body .carta_d #map{
	min-height: 403px;
}
.vnu_m label{
	white-space: nowrap;
	margin-right: 40px;
}

.lert{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}
.download_photos{
	width: 100px;
	height: 100px;
	border: 1px solid #f0eff5;
	background-color: #ffffff;
	position: relative;
	margin-right: 15px;
	margin-bottom: 15px;
}
.download_photos>img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.download_photos button{
	cursor: pointer;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid #f0eff5;
	background-color: #ffffff;
	position: absolute;
	left: 10px;
	top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	line-height: 0;
	padding: 0;
	outline: none;
	z-index: 3;
}
.download_photos .remove_photo{
	display: none;
}
.download_photos.added .remove_photo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.download_photos.added .add_photo{
	display: none;
}

body form .ker{
	margin-top: 10px;
	margin-bottom: 15px;
}
.negat{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form_count{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	border: 1px solid #f0eff5;
}
.form_count input{
	width: 24px;
	height: 18px;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #222136;
	font-size: 14px;
	font-weight: 600;
	min-width: 15px;
	text-align: center;
	padding: 0;
}
.form_count button{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	width: 14px;
	height: 15px;
}
.paino{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 2px solid #f0eff5;;
	border-bottom: 2px solid #f0eff5;;
	margin-top: 15px;
	margin-bottom: 0px;
}
.paino>div{
	flex: 0 0 50%;
	padding-top: 10px;
	border-bottom: 1px solid #f0eff5;;
	padding-bottom: 13px;
}
.paino>div:nth-child(2n+1){
	border-right: 1px solid #f0eff5;;
	padding-right: 20px;
}
.paino>div:nth-child(2n){
	/*border-right: 1px solid #f0eff5;;*/
	padding-left: 20px;
}
.d_inp label{
	min-width: 175px;
}
section.order .d_inp .form-group{
	margin-top: 15px;
	margin-bottom: 15px;
}
div#popup_registr{
	width: 100%;
	max-width: 410px;
	padding: 10px 30px 15px;
	box-shadow: 0 3px 6px rgba(34, 33, 54, 0.1);
	border-radius: 3px;
}
.popup_styles h2{
	line-height: 51px;
	color: #222136;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}
.popup_styles button.fancybox-button.fancybox-close-small{
	right: 14px;
    top: 18px;
}

.defau{
	margin-top: -5px;
	margin-bottom: 20px;
}
.forget_pass{
	line-height: 21px;
	color: #ff0a0a;
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
	text-underline-position: under;
	transition: all .3s;
}
.forget_pass:hover{
	color: #222136;
}
div#popup_registr button.btn_red{
	display: block;
	margin-left: auto;
	margin-right: 0;
	width: 255px;
}
div#popup_registr hr{
	width: auto;
	margin-left: -30px;
	margin-right: -30px;
}
/***********************************************************************************/
section.cabinet{

}
.flex_cabinet{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 25px;

}
.cabinet_left{
	width: 100%;
}

.cabinet_right{
	flex: 0 0 255px;
}
.gree_moder{
	margin-bottom: 15px;
	background: url(../images/bc_checi.jpg) no-repeat center;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 12px 0;
	justify-content: center;
}
.gree_moder span{
	line-height: 23px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	padding-left: 10px;
}
.red_moder{
	margin-bottom: 15px;
	background: url(../images/w.jpg) no-repeat center;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 12px 0;
	justify-content: center;
}
.red_moder span{
	line-height: 23px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	padding-left: 10px;
}
.chat_inner{
	border: 1px solid #f0eff5;
	background-color: #ffffff;
	margin-bottom: 15px;
	position: relative;
	padding: 20px 15px;
}
.user_chats{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 5px;
	justify-content: space-between;
}
.avatar{
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(34, 33, 54, 0.1);
}
.sms{
	background-color: #f0eff5;
	padding: 7px 23px 4px;
	margin-bottom: 5px;
}
.sms p{
	font-size: 15px;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
}
.user1 .avatar{
	margin-right: 5px;
}
.user2 .avatar{
	margin-left: 5px;
}
.avatar img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
span.time_sms{
	display: block;
	line-height: 13px;
	color: rgba(34, 33, 54, .6);
	font-size: 10px;
	margin-top: 3px;
}
.user1 span.time_sms{
	text-align: right;
}
.down_file{
	position: relative;
	padding-left: 63px;
}
span.size_file{
	line-height: 16px;
	color: rgba(34, 33, 54, .5);
	font-size: 12px;
	font-weight: 400;
	display: block;
}
.down_file a{
	width: 30px;
	height: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	cursor: pointer;
	transition: all .3s;
	left: 23px;
	top: 7px;
	background-color: #fff;
}
.down_file a{
	transition: all .3s;
}
.down_file a:hover{
	background-color: #ff0a0a;
}
.down_file a:hover img{
	filter: grayscale(50%);
}
.user_chats .sms:nth-child(1){
	position: relative;
}
.user_chats .sms:nth-child(1):after{
	content: "";
	position: absolute;
	left: -3px;
	top: 0;
	height: 10px;
	width: 10px;
	border: 5px solid transparent;
	border-right-color: #f0eff5;
	border-top-color: #f0eff5;
	/*border-color: transparent #f0eff5 #f0eff5; */
	/*background: url(../images/after_sms.png) no-repeat;*/
}

.user_chats.user2 .sms:nth-child(1):after{
	left: auto;
	right: -3px;
	border-right-color: transparent;
	border-left-color: #f0eff5;
}
.btm_chat{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.btm_chat .file_input{
	display: none;
}
.btm_chat label{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	cursor: pointer;
}
.btm_chat .input_styles{
	position: relative;
	width: 100%;
	margin-right: 5px;
}
.btm_chat .btn_red{
	width: 34px;
	height: 34px;
	min-width: 34px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	z-index: 5;
	position: relative;
	justify-content: center;
}
.btm_chat .input_styles:after{
	content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(../images/after_img.jpg) no-repeat right top;
    z-index: 2;
}
.btm_chat .input_styles input{
	padding-left: 20px;
	padding-right: 35px;
}
.btm_chat .input_styles input::placeholder{
    color: rgba(34, 33, 54, 0.4);
	font-size: 16px;
	font-weight: 400;
	opacity: 1;
}
.confirm_cont{
	border: 1px solid #f0eff5;
	background-color: #ffffff;
	margin-bottom: 15px;
}
.confirm_cont h3{
	color: #222136;
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	padding: 15px 20px;
	margin-bottom: 0;
	border-bottom: 1px solid #f0eff5;
}
.tel_conf{
	padding: 0px 20px;
}
.tel_conf>div{
	border-bottom: 1px solid #f0eff5;
	padding: 15px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

}
.tel_conf>div img{
	margin-right: 15px;
}
.tel_conf>div p{
	line-height: 20px;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: -3px;
}
.tel_conf>div a{
	line-height: 23px;
	color: #222136;
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
	text-underline-position: under;
}
.lang_conf{
	padding: 10px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.lang_conf span{
	line-height: 20px;
	font-size: 15px;
}
.lang_conf img{
	margin-left: 8px;
}
.lang_conf>div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
p.povis{
	background-color: #f0eff5;
	padding: 15px 20px;
	font-size: 15px;
	margin-bottom: 10px;
}
.banner_bl{
	background-color: #222136;
	height: 396px;
}
.cabinet_left{
	margin-right: 30px;
}
.cabinet_left hr{
	margin-bottom: 15px;
	margin-top: 15px;
    height: 2px;
    background-color: #f0eff5;
    box-shadow: none;
    border: 0;
}
.cabinet_left .btn_red{
	margin-left: auto;
	margin-right: 0;
	display: block;
	margin-top: 20px;
}
.cab_st label{
	line-height: 21px;
	color: #222136;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 9px;
}
.cabinet_left input[type="checkbox"]+label{
    color: rgba(34, 33, 54, 0.45);
	margin-bottom: 0;
}
.get_noti h5{
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.get_noti input[type="checkbox"]+label{
	margin-bottom: 10px;
}
.get_noti p{
	line-height: 21px;
	color: #222136;
	font-size: 16px;
}
.get_noti p a{
	color: #ff0a0a;
	font-weight: 400;
	text-decoration: underline;
	text-underline-position: under;
}
/***********************************************************************************/
.user_dorian{
	position: relative;
	margin-bottom: 10px;
}
.user_dorian>img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
}
.user_dorian input{
	display: none;
}
.user_dorian label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	line-height: 23px;
	color: #ffffff;
	font-size: 18px;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: all .3s;
	font-weight: 600;
	margin-bottom: 0;
}
.user_dorian label:hover{
	opacity: .8;
}
.user_dorian label img{
	margin-right: 8px;
}
.user_all p{
	line-height: 28px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 0;
}
.rating{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 14px;
}
.rating img{
	margin-right: 8px;
}
.rating span{
	line-height: 16px;
	font-size: 12px;
	padding-top: 3px;
	font-weight: 400;
}
.btn_dor {
	margin-bottom: 15px;
}
.btn_dor a{
	margin-bottom: 10px;
	width: 100%;
}
.item_to_city{
	transition: all .3s;
	display: block;
	color: #222136;
	background-color: #f0eff5;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 8px 30px 14px;
	text-decoration: none !important;
	position: relative;
}
.item_to_city:hover{
	color: #222136;
}

.item_to_city_top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.line_toc{
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: -30px;
	margin-right: -30px;
	background: url(../images/span_bc.svg) repeat center;
	height: 3px;
	position: relative;
}
.line_toc:after{
	content: "";
	position: absolute;	
	right: -6px;
	width: 12px;
	top: -4.5px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
}
.line_toc:before{
	content: "";
	position: absolute;	
	left: -6px;
	width: 12px;
	top: -4.5px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
}

.sur_{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

}
.sur_ img{
	margin-right: 7px;
}
.item_to_city_top h5{
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0px;
}
.sur_  p{
	opacity: 0.95;
	font-size: 14px;
	margin-bottom: 0;
	line-height: 18px;
	font-weight: 400;
}

.item_to_city_top h6{
	line-height: 28px;
	color: #ff0a0a;
	font-size: 22px;
	margin-bottom: -5px;
	font-weight: 600;
}
p.cal_tack{
	line-height: 18px;
	opacity: 0.6;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
}
.item_to_city_bottom span{
	font-weight: 600;
}
.mangis{
	margin-top: 20px;
}
.mangis img{
	margin-right: 7px;
}
.mangis span{
	padding-right: 7px;
	line-height: 21px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
	/*text-underline-position: under;*/
}
a.item_to_city button{
    position: absolute;
    right: -25px;
    bottom: -35px;
    background-color: #f0eff5;
    border: 6px solid #fff;
    padding-right: 35px;
    padding-bottom: 35px;
    transition: all .3s;
    transform: rotate(45deg);
    outline: none;
    cursor: pointer;
}
a.item_to_city button span {
    transition: all .3s;
    display: inline-block;
    transform: rotate(-45deg);
    position: relative;
    top: 13px;
    left: 4px;
}
a.item_to_city button span svg {
	transition: all .1s;
	fill: #222136;
}
a.item_to_city:hover button{
	background-color: #ff0a0a;
}
a.item_to_city:hover button span svg {
	fill: #fff;
}

ul.pagination{
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;

}
ul.pagination a, ul.pagination  a.btn_red{
	min-width: 9px;
	display: inline-block;
	height: 21px;
	margin-left: 9px;
	color: #222136;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	cursor: pointer;
}
body ul.pagination  a.btn_red{
	margin-top: 0;
	padding: 0px;
	margin-left: 9px;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
body ul.pagination  a.btn_red svg{
	fill: #fff;
}
li.page-item.toogle_pag{
	line-height: 1;
}
li.page-item.prev.toogle_pag svg{
	transform: rotate(-180deg);
}
/***********************************************************************************/
.btn_red.drug{
	display: inline-block;
	margin-top: 0;
}
.btn_red.drug img{
	margin-right: 7px;
}
.mrte{
	line-height: 21px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.btn_red.sobs{
	min-width: 255px;
}
.btn_red.sobs1{
	min-width: 215px;
	text-align: center;
}
.filter_block {
	border-bottom: 2px solid #f0eff5;
	/*margin-bottom: 15px;*/
}
.filter_block .enter_to_site{
	text-align: left;
}
.filter_block .enter_to_site svg{
	height: 25px;
	width: auto;
}

.filter_block .enter_to_site.active{
    background-color: #ff0a0a;
}
.filter_block .enter_to_site.active span{
    color: #fff;
}

.hdr_svgs .enter_to_site.active svg {
    fill: #fff;
    color: #fff;
}
.filter_block p{
	line-height: 23px;
	color: #222136;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.ot_do{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 2px solid #f0eff5;
}
.ine_ot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex: 0 0 40%;
	margin-left: 30px;
}
.ine_ot label{
	margin-right: 9px;
}
.ot_do label{
	line-height: 21px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}
.ot_do>label{
	width: 100%;
}
.ot_do .form-group, .ot_address .form-group{
	margin-bottom: 0;
}
.ot_address{
	padding: 15px 0;
	border-bottom: 2px solid #f0eff5;
}
.clear_and_chen{
	padding: 15px 0;
	border-bottom: 2px solid #f0eff5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}
.clear_and_chen a{
	min-width: 255px;
	margin-left: 15px;
}

/***********************************************************************************/
.flex_equation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 60px;
	min-height: 544px;
}
.equ_left{
	flex: 0 0 350px;
	margin-right: 30px;
	border: 1px solid rgba(34, 33, 54, .15);
}
.equ_left h3{
	padding: 15px 30px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
	background-color: #222136;
	line-height: 30px;
}
.equ_left ul.nav li{
	padding: 8px 0px 10px;
	/*border-left: 1px solid 1px solid rgba(34, 33, 54, .15);*/
	/*border-right: 1px solid 1px solid rgba(34, 33, 54, .15);*/
	border-bottom: 1px solid rgba(34, 33, 54, .15);
	position: relative;
	width: 100%;
}
.equ_left ul.nav li a:after{
	content: "";
	position: absolute;
	left: 21px;
	top: 5px;
	width: 13px;
	height: 15px;
	background: url(../images/file.svg) no-repeat;
	background-size: contain;
}
.equ_left ul.nav li a{
	color: #222136;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	padding: 0 45px;
	display: inline-block;
}

.equ_right {
	border: 1px solid rgba(34, 33, 54, .15);
	padding: 15px 30px;
	background: #fff url(../images/mask.png) no-repeat left bottom;
	background-size: auto 80%;
	width: 100%;
}
.equ_right h4{
	line-height: 31px;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
}
.equ_right p{
	color: rgba(34, 33, 54, 0.85);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 30px;
}

/***********************************************************************************/

.privacy{
	max-width: 734px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.privacy h1{
	margin-bottom: 15px;
}
.privacy h2{
	margin-bottom: 15px;
	line-height: 28px;
	font-size: 22px;
	font-weight: 600;
	margin-top: 60px;
}
.privacy p{
	margin-bottom: 20px;
	color: rgba(34, 33, 54, 0.85);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
/***********************************************************************************/
.inner_main{
	justify-content: space-between;

}
.inner_left{
	flex: 0 0 350px;
}
.inner_main h2{
	line-height: 28px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.user_inner{
	border-bottom: 1px solid #f0eff5;
	padding: 15px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.user_inner .rating{
	margin-bottom: 0;
	margin-left: 15px;
}
.user_inner p{
	margin-bottom: -5px;
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	margin-left: 15px;
}
.user_inner>img{
	object-position: center;
	object-fit: cover;
	width: 40px;
	height: 40px;
}
section.inner{
	padding-bottom: 60px;
}
.inner_right{
	width: 100%;
	margin-left: 30px;
}
.inner_right .rating{
	margin-top: -10px;
	margin-bottom: 10px;
}
.inner_right h5{
	line-height: 21px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 2px;
}
.wet{
	padding: 15px 30px;
	border: 1px solid #f0eff5;
}
.wet p{
	margin-bottom: 0;
	line-height: 23px;
	opacity: 0.85;
	color: #222136;
	font-size: 18px;
	font-weight: 400;
}
.bc_red_inn{
	background-color: #ff0a0a;
	padding: 15px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.bc_red_inn p{
	line-height: 18px;
	opacity: 0.95;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 0;
	font-weight: 400;
}
.bc_red_inn span{
	line-height: 21px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.suggestion{
	padding: 15px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.suggestion p{
	line-height: 18px;
	opacity: 0.85;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
}
.suggestion span{
	line-height: 28px;
	color: #ff0a0a;
	font-size: 22px;
	font-weight: 600;
}
.busy_easy{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 15px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.busy_easy svg{
	margin-right: 10px;
	max-width: 42px;
	height: auto;
}
.busy_easy span{
	line-height: 18px;
	color: #222136;
	font-size: 14px;
	font-weight: 600;
}
.terra{
	padding: 10px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.terra p.retect{
	line-height: 18px;
	color: rgba(34, 33, 54, .9);
	font-size: 14px;
	margin-bottom: 5px;
}
.terra p{
	line-height: 18px;
	color: rgba(34, 33, 54, .6);
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
}

.terra span{
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.terra img{
	width: 12px;
	height: auto;
	margin-right: 8px;
}
.terra hr{
	height: 1px;
	border: 0;
	background-color: #f0eff5;
	margin: 10px 0;
	box-shadow: none;
}
.photos_inn{
	padding: 10px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.photos_inn p{
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
}
.photos_inn .netr{
	margin-top: 10px;
	margin-right: 15px;
	border: 1px solid #f0eff5;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.photos_inn .netr img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
}
.inner_map{
	padding: 15px 30px;
	border-left: 1px solid #f0eff5;
	border-right: 1px solid #f0eff5;
	border-bottom: 1px solid #f0eff5;
}
.inner_map #map{
	min-width: 100%;
	position: static;
	height: 193px;
	min-height: auto;
	margin-bottom: 0;
}
.v_koord{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.v_koord p{
	margin-bottom: 0;
}
.v_trans>img{
	transform: rotate(90deg);
	margin-left: 2px;
}
.v_trans img{
	margin-right: 9px;
}
.v_trans span{
	white-space: nowrap;
	font-weight: 600;
}
.v_trans>div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;
}
.zayavka .item_to_city_bottom span{
	font-size: 14px;
}
.v_koord p b{
	font-weight: 600;
}
.pay_inner{
	border: 1px solid #f0eff5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.pay_inner p{
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
	color: #222136;
}
.pay_inner p b{
	color: #ff0a0a;
	font-weight: 600;
	padding-right: 30px;
}
.pay_inner span{
	line-height: 23px;
	font-size: 18px;
	font-weight: 600;
	color: rgba(34, 33, 54, .4);
}
.pay_inner a{
	font-size: 18px;
	text-underline-position: auto;
}
.text_right_ent {
	margin-bottom: 28px;
}
.text_right_ent a{
	min-width: 255px;
	margin-left: auto;
	margin-right: 0;
}
.zayavka h2{
	line-height: 39px;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}
.zayavka .item_to_city{
	margin-bottom: 0;
}

.zayavka .enter_to_site{
	width: 100%;
	background-color: #fff;
}
 .inner_right .zayavka .rating{
	margin-bottom: 0;
	margin-top: 0;
}
.zayavka .user_inner{
	padding: 0;
	margin: 5px 0;
}
.zayavka .photos_inn{
	padding: 0;
	margin-bottom: 10px;
}
.zayavka .line_toc{
	margin-bottom: 10px;
}
p.mode{
	margin-bottom: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
}
p.mode img{
	margin-right: 8px;
	max-width: 25px;
}
.row_retact{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.row_retact>div{
	margin-right: 25px;
	margin-bottom: 8px;
}
.terra.aut img{
	width: auto;
}
body.ovx {
    max-height: 100vh;
    overflow: hidden;
}
/***********************************************************************************/
h2.title_add{
	line-height: 51px;
    color: #222136;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
	font-weight: 600;
}
.dor_item{
	border: 1px solid #f0eff5;
	padding: 0 30px;
	margin-bottom: 20px;
}
.dor_item .lman {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f0eff5;
}
.dor_item .lman h4{
	line-height: 23px;
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-right: 15px;
}
.dor_item .lman h4 img{
	margin-right: 8px;
}
.dor_item .lman a{
	line-height: 21px;
	color: #ff0a0a;
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
	white-space: nowrap;
}
.dor_item .lman svg{
	margin-right: 8px;
	color: #ff0a0a;
	fill: #ff0a0a;
}
.mke{
	border-bottom: 1px solid #f0eff5;
	padding-bottom: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;

}
.mke span{
	line-height: 18px;
	opacity: 0.6;
	color: #222136;
	font-size: 14px;
	font-weight: 400;
}
.mke b{
	line-height: 18px;
	color: #222136;
	font-size: 14px;
	font-weight: 600;
}

.dor_item .photos_inn{
	padding: 0;
	border: 0;
	padding-top: 5px;
}
.dor_item .photos_inn .netr{
	margin-bottom: 10px;
}
.lin{
	color: #ff0a0a;
}
.lin a{
	padding-left: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-position: center;
	background-size: 12px auto; 
	background-repeat: no-repeat;
	font-size: 0 !important;
}
.lin a.lin1{
	background-image: url(../images/pencil-edit-button.svg);
}
.lin a.lin2{
	background-image: url(../images/dele.svg);
	margin-left: 5px;
}
.lin a:hover{
	text-decoration: underline;
}

/***********************************************************************************/
.blog_main{
	margin-top: 10px;
}
.blog_item{
	width: 100%;
	border: 1px solid #f0eff5;
	background: #fff;
	margin-bottom: 40px;
	display: block;
	text-decoration: none;
	transition: all .3s;
}
.blog_item:hover{
	box-shadow: 0 0 7px rgba(1,1,1,.15);
	text-decoration: none;
}
.blog_item img{
	object-fit: cover;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.blog_text{
	padding: 15px;
}
.blog_text span{
	line-height: 18px;
	color: #ff0a0a;
	font-size: 14px;
	display: block;
}
.blog_text h5{
	margin-bottom: 4px;
	line-height: 20.5px;
	height: 41px;
	color: #222136;
	font-size: 16px;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
}

span.news_date{
	display: block;
	line-height: 21px;
	color: #ff0a0a;
	font-size: 16px;
	font-weight: 400;
}

section.cabinet.news h1{
	margin-bottom: 5px;
}
section.cabinet.news p{
	color: #222136;
	font-size: 18px;
	margin-bottom: 25px;
}

.new_img{
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

/*********************Header fixed**************************************************************/
body {
    /*padding-top: 76px;*/
}

header {
    background: #fff;
    height: 76px;
    position: fixed !important;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -76px;
}
/*********************Header fixed**************************************************************/

div#pay_popup_a{
	padding: 30px;
	max-width: 820px;
}
div#pay_popup_a h2{
	margin-bottom: 0;
}
div#pay_popup_a p{
	border: 1px solid rgba(0, 0, 0, 0);
	opacity: 0.6;
	margin-bottom: 2px;
	font-size: 14px;
}
div#pay_popup_a hr{
	margin-left: -30px;
	margin-right: -30px;
}
div#pay_popup_a button.btn_red{
	min-width: 255px;
	/*float: right;*/
	clear: both;
}
div#pay_popup_a hr{
	clear: both;
	margin-top: 15px;
}
.in_karm{
	-ms-align-items: center;
	align-items: center;
}
.in_karm p{
	color: #222136;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}
.in_karm p b{
	color: #ff0a0a;
	padding-left: 30px;
}
.pay_div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}
.pay_div input{
	display: none;
}
.pay_div label{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 0 23%;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 68px;
	border: 1px solid #f0eff5;
	transition: all .3s;
}
.pay_div label img{
	max-width: 100%;
}
.pay_div input:checked+label{
	border: 1px solid #ff0a0a;
}













/***********************************************************************************/
